// Reviews.scss
.carousel-item img {
    width: 100%; // Assicura che l'immagine occupi l'intera larghezza del contenitore
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); // Opzionale: migliora la leggibilità del testo
    color: #fff;
    padding: 1rem; // Aggiunge un po' di spazio intorno al testo
    border-radius: 0.5rem; // Opzionale: aggiunge bordi arrotondati al box di testo
  }

  .img-height {
    height: 400px; // Puoi regolare questa altezza secondo le tue preferenze
    object-fit: cover;
  }
  