.App {
    text-align: center;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.footer-login {
    height: 100px;
}

.bottom-text {
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
}

.card-hover-animate {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-hover-animate:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#basic-nav-dropdown {
    color: white;
}

#basic-navbar-nav {
    color: white;
}

.color-icon {
    color: #ffa057;
}

.logo-img {
    max-width: 120px;
    max-height: 80px;
}

.button-style {
    background-color: #ffa057 !important;
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
}

.button-style:hover {
    background-color: white !important;
    color: #ffa057 !important;
    border: 2px solid #ffa057 !important;
}


.btn:hover .icon {
    color: black;
}

.btn:hover {
    background-color: white;
    ;
    color: #ffa057;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ffa057;
}